  <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="col-md-4">
                            <div class="logo-foter">
                                <a href="index.html" title=""></a>
                            </div>
                        </div>
                        <!-- End Logo -->
                        <!-- Navigation Footer -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="ul-ft">
                                <ul>
                                    <li><a href="#" title="">About</a></li>
                                    <li><a href="#" title="">Blog</a></li>
                                    <li><a href="#" title="">FQA</a></li>
                                    <li><a href="#" title="">Carrers</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Navigation Footer -->
                        <!-- Navigation Footer -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="ul-ft">
                                <ul>
                                    <li><a href="contact.html" title="">Contact Us</a></li>
                                    <li><a href="#" title="">Privacy Policy</a></li>
                                    <li><a href="#" title="">Term of Service</a></li>
                                    <li><a href="#" title="">Security</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Navigation Footer -->
                        <!-- Footer Currency, Language -->
                        <div class="col-sm-6 col-md-4">
                            <!-- Language -->
                            <div class="currency-lang-bottom dropdown-cn float-left">
                                <div class="dropdown-head">
                                    <span class="angle-down"></span>
                                </div>
                                <div class="dropdown-body">
                                    <ul>
                                        <li class="current"><a href="#" title="">English</a></li>
                                        <li><a href="#" title="">Bahasa Melayu</a></li>
                                        <li><a href="#" title="">Català</a></li>
                                        <li><a href="#" title="">Dansk</a></li>
                                        <li><a href="#" title="">Deutsch</a></li>
                                        <li><a href="#" title="">Francais</a></li>
                                        <li><a href="#" title="">Korean</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Language -->
                            <!-- Currency -->
                            <div class="currency-lang-bottom dropdown-cn float-left">
                                <div class="dropdown-head">
                                    <span class="angle-down"></span>
                                </div>
                                <div class="dropdown-body">
                                    <ul>
                                        <li class="current"><a href="#" title="">US</a></li>
                                        <li><a href="#" title="">ARS</a></li>
                                        <li><a href="#" title="">ADU</a></li>
                                        <li><a href="#" title="">CAD</a></li>
                                        <li><a href="#" title="">CHF</a></li>
                                        <li><a href="#" title="">CNY</a></li>
                                        <li><a href="#" title="">KRW</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Currency -->
                            <!--CopyRight-->
                            <p class="copyright">
                                © 2015 CC™ All rights reserved.
                            </p>
                            <!--CopyRight-->
                        </div>
                        <!-- End Footer Currency, Language -->
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
            
        </div>
        
        <!-- Library JS -->
        <script type="text/javascript" src="js/library/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="js/library/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/library/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/library/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/library/parallax.min.js"></script>
        <script type="text/javascript" src="js/library/jquery.nicescroll.js"></script>
        <script type="text/javascript" src="js/library/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="js/library/SmoothScroll.js"></script>
        <!-- End Library JS -->
        <!-- Main Js -->
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End Main Js -->


        <!-- Google API -->

         <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <!-- Custom JS code to bind to Autocomplete API -->
        <script type="text/javascript" src="js/autocomplete.js"></script>  

