<script src="asset/js/lib/jquery.js"></script>
	<script src="asset/js/lib/easing.js"></script>
	<script src="asset/js/lib/bootstrap.js"></script>
	<script src="asset/js/lib/form.js"></script>
	<script src="asset/js/lib/validate.js"></script>
	<script src="asset/js/lib/nicescroll.js"></script>
	<script src="asset/js/lib/carousel.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="asset/js/lib/map.js"></script>
	<script src="asset/js/lib/timer.js"></script>
	<script src="asset/js/lib/lightbox.js"></script>
	<script src="asset/js/lib/animate.js"></script>
	<script src="asset/js/lib/textslider.js"></script>
	<script src="asset/js/main.js"></script>
	<!-- /scripts -->


