<!DOCTYPE html>
<html lang="en"> 


    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Font Google -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <!-- End Font Google -->
        <!-- Library CSS -->
        <link rel="stylesheet" href="css/library/font-awesome.min.css">
        <link rel="stylesheet" href="css/library/bootstrap.min.css">
        <link rel="stylesheet" href="css/library/jquery-ui.min.css">
        <link rel="stylesheet" href="css/library/owl.carousel.css">
        <!-- End Library CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
