

  <!-- preloader -->
  <div id="preloader" class="visible">
    <div class="preloader"></div>
    <div class="loader">
      <img class="img-responsive center-block logo" src="asset/img/logo2.png" alt="logo">
      <div class="loading"><div class="bar"></div></div>
    </div>
  </div>
  <!-- /preloader -->
  
  <!-- background -->
  <section class="background image darkcover"></section>
  <!-- /background -->
  
  <!-- border -->
  <div class="body-border-left"></div>
  <div class="body-border-right"></div>
  <div class="body-border-top"></div>
  <div class="body-border-bottom"></div>
  <!-- /border -->
  
  <!-- header -->
  <header id="header">
    <div class="header">
      <div class="menu-overlay"><div class="menu-overlay-content"></div></div>
      <div class="menu-border"></div>
      <div class="menu pull-right">
        <div class="nav-button">
          <div class="nav-bar"></div>
          <div class="nav-bar"></div>
          <div class="nav-bar"></div>
        </div>
        <div id="navigation">
          <div class="nav">
            <!-- navigation logo -->
            <div id="logo">
              <a class="logo" href="#"><img class="img-responsive center-block" src="asset/img/logo.png" alt="logo"></a>
              <span class="logo-title">Get more code evangelists</span>
              <span class="logo-subtitle">Build community and change the world</span>
            </div>
            <!-- /navigation logo -->
            
            <!-- navigation list -->
            <nav class="navigation">
              <ul class="list-inline">
                <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab" class="icon-ribbon">Home</a></li>
                <li role="presentation"><a href="#about" role="tab" data-toggle="tab" class="icon-tools">About</a></li>
                <li role="presentation"><a href="#subscribe" role="tab" data-toggle="tab" class="icon-envelope">Get In</a></li>
                <li role="presentation"><a href="#contact" role="tab" data-toggle="tab" class="icon-map">Contact</a></li>
              </ul>
            </nav>
            <!-- /navigation list -->
            
            <!-- navigation social -->
            <div class="nav-social">
              <ul class="list-inline">
                <li><a href="#"><i class="ion-social-facebook fi-2x"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus-outline fi-2x"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter fi-2x"></i></a></li>
                <li><a href="#"><i class="ion-social-dribbble-outline fi-2x"></i></a></li>
                <li><a href="#"><i class="ion-social-pinterest fi-2x"></i></a></li>
              </ul>
            </div>
            <!-- /navigation social -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->
  
  <!-- main contents -->
  <div class="main tab-content">
  
    <!-- home section -->
    <section class="home tab-pane fade in active" id="home">
      <div class="intro">
        <div class="center">
          <div class="container" role="main">
            <!-- home content -->
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <div class="textslider clearfix animate-start" data-animations="fadeInDown" data-animation-duration="0.7s" data-animation-delay="1s">
                  <ul class="slides">
                    <li>
                      <h1 class="text-xlarge text-white font-primary text-uppercase">So... <br>You Have <strong> written code </strong>to change the world</h1>
                    </li>
                    <li>
                      <h1 class="text-xlarge text-white font-primary text-uppercase"><strong>You need</strong> to build a community <strong> to maintain and upgrade</strong><br> your codebase</h1>
                    </li>
                    <li>
                      <h1 class="text-xlarge text-white font-primary text-uppercase">You can teach <strong>other coders</strong> who can build the community</h1>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="btn btn-primary btn-white external animate-start" data-animations="fadeInUp" data-animation-duration="0.7s" data-animation-delay="1.3s" href="#about"><span>Read More</span></a>
                <a class="btn btn-primary btn-filled external animate-start" data-animations="fadeInUp" data-animation-duration="0.7s" data-animation-delay="1.6s" href="#subscribe"><span>Get Involved</span></a>
              </div>
            </div>
            <!-- /home content -->
          </div>
        </div>
      </div>
      <!-- clock button -->
      <div id="clock" class="extra-btn animate-start" data-animations="fadeIn" data-animation-duration="1s" data-animation-delay="1.9s">
        <div class="clock-btn ripple"><i class="ion-ios-time-outline"></i></div>
      </div>
      <!-- clock button -->
    </section>
    <!-- /home section -->
    
    <!-- about section -->
    <section class="about tab-pane fade" id="about">
      <div class="intro">
        <div class="center">
          <div class="container" role="main">
            <!-- header section -->
            <div class="row space-bottom-medium">
              <div class="header-section col-md-8 col-md-offset-2 text-center">
                <h1 class="text-xlarge text-white font-primary animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1s">ABOUT</h1>
                <hr class="icon-ribbon animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.1s">
                <p class="lead text-white animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.2s">
                    If you ever posted a project to GitHub and then nothing happened to it, you'll understand the need for CodeFog.<br>
                    If you happen to know a bunch of coders with spare time to work on your codebase in a meaningful way, then you don't need CodeFog.
                    <br>
                    However, if you are willing to teach eager junior developers your codebase, they are willing to evangelize and become great coders with your guidance.



                </p>
              </div>
            </div>
            <!-- header section -->
            
            <!-- features box slider -->
            <div class="row"> 
              <div id="features" class="features">
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.5s">
                  <i class="icon-trophy fi-5x"></i>
                  <h2 class="text-white">Post a Repo</h2>
                  <p>From GitHub, JSFiddle, or Personal </p>
                </div>
                <!-- /features box -->
                
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.6s">
                  <i class="icon-mobile fi-5x"></i>
                  <h2 class="text-white">Meet Evangelists</h2>
                  <p>Learners trade evangelism for guidance</p>
                </div>
                <!-- /features box -->
                
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.7s">
                  <i class="icon-desktop fi-5x"></i>
                  <h2 class="text-white">Teach Your Codebase</h2>
                  <p>The Evangelists take your teachings and share</p>
                </div>
                <!-- /features box -->
                
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.9s">
                  <i class="icon-trophy fi-5x"></i>
                  <h2 class="text-white">Get Pull Requests</h2>
                  <p>Upgrades and Patches start flowing in</p>
                </div>
                <!-- /features box -->
                
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="2.1s">
                  <i class="icon-mobile fi-5x"></i>
                  <h2 class="text-white">Experience Growth</h2>
                  <p>Get Hundreds of People to talk about and leverage your codebase</p>
                </div>
                <!-- /features box -->
                
                <!-- features box -->
                <div class="icon-box vertical animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="2.3s">
                  <i class="icon-desktop fi-5x"></i>
                  <h2 class="text-white">Change the World</h2>
                  <p>See the project through to completion with a community</p>
                </div>
                <!-- /features box -->
              </div>
            </div>
            <!-- /features box slider -->
          </div>
        </div>
      </div>
    </section>
    <!-- /about section -->
    
    <!-- subscribe section -->
    <section class="subscribe tab-pane fade" id="subscribe">
      <div class="intro">
        <div class="center">
          <div class="container" role="main">
            <!-- header section -->
            <div class="row space-bottom-medium">
              <div class="header-section col-md-8 col-md-offset-2 text-center">
                <h1 class="text-xlarge text-white font-primary animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1s">Join Us</h1>
                <hr class="icon-ribbon animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.1s">
                <p class="lead text-white animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.2s">Interested in putting your repo on CodeFog and building a community? <br>
                  Drop us your e-mail and we'll send you information on how to become part of the dream.</p>
              </div>
            </div>
            <!-- /header section -->
            
            <!-- content section -->
            <div class="row">
              <div class="col-sm-6 col-md-offset-3">
                <!-- newsletter form -->
                <div id="subscribeform" class="form animate-start" data-animations="flipInY" data-animation-duration="1s" data-animation-delay="1.5s">
                  <form role="form" action="http://pooyaa.us6.list-manage.com/subscribe/post-json?u=133664e969&amp;id=42bb716bf8&amp;c=?" method="post" class="subscribeform" autocomplete="off">
                    <div class="input-group">
                      <input type="email" name="EMAIL" placeholder="E-mail" required>
                      <span class="input-group-btn">
                        <button class="submit btn btn-primary btn-white" type="submit" name="subscribe">Let's talk</button>
                      </span>
                    </div>
                  </form>
                </div>
                <!-- /newsletter form -->
              </div>
            </div>
            <!-- /content section -->
            
            <!-- social icons -->
            <div class="row" style="display:none">
              <div class="col-sm-6 col-md-offset-3">
                <div class="social">
                  <ul class="list-inline">
                    <li class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.7s"><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.8s"><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                    <li class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.9s"><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="2s"><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /social icons -->
          </div>
        </div>
      </div>
    </section>
    <!-- /subscribe section -->
    
    <!-- contact section -->
    <section class="contact tab-pane fade" id="contact">
      <div class="intro">
        <div class="center">
          <div class="container" role="main">
            <!-- header section -->
            <div class="row space-bottom-medium">
              <div class="header-section col-md-8 col-md-offset-2 text-center">
                <h1 class="text-xlarge text-white font-primary animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1s">CONTACT</h1>
                <hr class="icon-ribbon animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.1s">
                <p class="lead text-white animate-start" data-animations="flipInX" data-animation-duration="1s" data-animation-delay="1.2s">Want to say hello? Want to know more about us? Give us a call or drop us an email and we will get back to you as soon as we can.</p>
              </div>
            </div>
            <!-- /header section -->
            
            <!-- content section -->
            <div class="row">
              <div class="col-md-6 col-md-offset-1">
                <!-- contact form -->
                <div id="contactform" class="form animate-start" data-animations="flipInY" data-animation-duration="1s" data-animation-delay="1.5s">
                  <form action="asset/inc/contact.php" method="post" class="contactform text-center" autocomplete="off">
                    <div class="group col-sm-12">

                         <input type="hidden" name="_csrf" id="csrfContact" value="{{ csrf_token }}">
                      <input type="text" id="name" name="name" class="text form-control" required>
                      <span class="title">Name <i class="icon-profile-male"></i></span>
                    </div>
                    <div class="group col-sm-12">
                      <input type="email" id="email" name="email" class="email form-control" required>
                      <span class="title">E-Mail <i class="icon-envelope"></i></span>
                    </div>
                    <div class="group col-sm-12">
                      <input type="text" id="subject" name="subject" class="text form-control" required>
                      <span class="title">Subject <i class="icon-mic"></i></span>
                    </div>
                    <div class="group col-sm-12">
                      <textarea name="message" id="message" class="textarea form-control" rows="3" required></textarea>
                      <span class="title">Message <i class="icon-pencil"></i></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-white" id="submit-btn">Send Message</button>
                  </form>
                </div>
                <!-- /contact form -->
              </div>
              <div class="col-md-4">
                <!-- address -->
                <address class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.6s">
                  <i class="ion-map pull-left"></i>
                  <div class="pull-right">
                    <span class="address-title">ADDRESS</span>
                    <span>79 Ayer Rajah Crescenet<br> Singapore</span>
                  </div>
                </address>
                <!-- /address -->
                
                <!-- address -->
                <address class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="1.8s">
                  <i class="ion-email pull-left"></i>
                  <div class="pull-right">
                    <span class="address-title">EMAIL</span>
                    <span>info@codecloud.me <br> m@codecloud.me</span>
                  </div>
                </address>
                <!-- /address -->
                
                <!-- address -->
                <address class="animate-start" data-animations="fadeInUp" data-animation-duration="1s" data-animation-delay="2s">
                  <i class="ion-android-call pull-left"></i>
                  <div class="pull-right">
                    <span class="address-title">PHONE</span>
                    <span>+65 9429 5649 <br> +1 917 524 9962</span>
                  </div>
                </address>
                <!-- /address -->
              </div>
              <!-- map button -->
              <div id="map" class="extra-btn animate-start" data-animations="fadeIn" data-animation-duration="1s" data-animation-delay="2.5s">
                <div class="map-btn ripple"><i class="ion-location"></i></div>
              </div>
              <!-- /map button -->
            </div>
            <!-- /content section -->
          </div>
        </div>
      </div>
    </section>
    <!-- /contact section -->
    
    <!-- message -->
    <div class="subscribe-message"></div>
    <div class="contact-message">
      <div class="alert alert-success hideme" role="alert">
        <i class="ion-happy-outline pull-left" aria-hidden="true"></i>
        <span>Thank You! Your message has been sent.</span>
      </div>
      <div class="alert alert-danger hideme" role="alert">
        <i class="ion-android-notifications pull-left" aria-hidden="true"></i>
        <span>Something went wrong! try refreshing and submitting the form again.</span>
      </div>
    </div>
    <!-- /message -->
    <div class="overlay">
      <div class="content-overlay"></div>
      <div class="map-content"><div id="map-content"></div></div>
      <!-- countdown timer -->
      <div class="col-md-8 col-md-offset-2"><div class="clock-content"><div id="counter" data-date="2017-01-01 00:00:00"></div></div></div>
      <!-- /countdown timer -->
      <div class="close-button"><i class="ion-ios-close-empty"></i></div>
    </div>
  </div>
  <!-- main contents -->

  <div class="cover-overlay"></div>
